body {
    background: #f9f9f9;
    color: #222;
    font-family: "Arial",Sans-Serif;
    transition: 0.3s;
    padding: 40px;
}

button {
    margin-bottom: 8px 16px;
    padding: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: white;
    color: gray;
    font-size: 14px;
}

.surat {
    max-width: 600px;
  margin: auto;
  background: 1px solid  #444;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  line-height: 1.6;
}

body.dark {
  background: #1e1e1e;
  color: #f0f0f0;
}

body.dark .surat {
  background: #2a2a2a;
  color: #f0f0f0;
}

body.dark button {
  background: #444;
  color: #fff;
}

.bubble-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.heart {
    position: absolute;
    font-size: 20px;
    animation: bubbleUp 5s linear infinite;
    opacity: 0;
}

.heart:nth-child(1) {
    left: -40px;
    animation-delay: 0s;
}
.heart:nth-child(2) {
    left: 0px;
    animation-delay: 2s;
}
.heart:nth-child(3) {
    left: 40px;
    animation-delay: 4s;
}

@keyframes bubbleUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-300px) scale(0.8);
        opacity: 0;
    }
}